<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0"
       style="background-color:{{colors.containerBg}}; margin:0; padding:0;">
  <tr>
    <td align="center" style="padding:0;">
      <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0"
             style="width:100%; margin:0 auto;">

        <!-- Top divider -->
        <tr>
          <td style="height:1px; background-color:{{colors.cardBorder}}; font-size:0; line-height:0;">&nbsp;</td>
        </tr>

        <!-- Footer content -->
        <tr>
          <td style="padding:24px 32px 20px 32px; background-color:{{colors.containerBg}};">

            <!-- Brand name -->
            <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="center" style="padding-bottom:12px;">
                  <span style="font-family:Arial,Helvetica,sans-serif; font-size:13px; font-weight:700;
                               letter-spacing:3px; color:{{colors.textColor}}; text-transform:uppercase;">
                    {{shopName}}
                  </span>
                </td>
              </tr>
            </table>

            <!-- Contact info + copyright -->
            <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="center" style="font-family:Arial,Helvetica,sans-serif; font-size:11px;
                            color:{{colors.textMuted}}; line-height:1.6;">
                  &copy; {{year}} {{shopName}}. All rights reserved.<br/>
                  {{shopAddress}} &nbsp;|&nbsp; {{shopPhone}}<br/>
                  &#9993;&nbsp;{{shopEmail}}
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <!-- Red accent bottom bar -->
        <tr>
          <td style="height:4px; background-color:#DC2626; font-size:0; line-height:0;">&nbsp;</td>
        </tr>

      </table>
    </td>
  </tr>
</table>
